{% extends 'base.html' %} 

{% block title %}Blog | About Us{% endblock title %}


{% block heading %}
           About Us
        {% endblock heading %}
        {% block subheading %}
            This is what we do
        {% endblock subheading %}

{% block content %}
<div class="container text-center my-5">
    <h1>Sabbha Blogs</h1>
<article>
    A simple Blog site. <br>
    Where you can Post of your choice. <br>
    And read others Post. <br>
<br>
<br>
<b>--------- MAKE THE WORLD A BEAUTIFUL PLACE TO READ ---------</b>
</article>
</div>

{% endblock content %}
 
