{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title %}Blog | Password Reset{% endblock title %}


{% block heading %}
Password Reset Page
        {% endblock heading %}
        {% block subheading %}
            Reset Password Here
        {% endblock subheading %}

{% block content %}
<div class="container justify-content p-5">
    <div class="row">
        <div class=" offset-md-3 col-md-6 offset-lg-3 col-lg-6">
            <form  method="post"> 
                {% csrf_token %}
                {{form | crispy }}
                <div class="offset-md-4 offset-sm-4 offset-lg-4 mt-4">
                    <button type="submit" id='resetPassword'   class="btn btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}