{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block title %}Blog | Password Reset Confirmation{% endblock title %}


{% block heading %}
           Password Reset Confirmed
        {% endblock heading %}
        {% block subheading %}
            Please check your inbox for the password reset link.<br>Thank you
        {% endblock subheading %}

        {% block content %}
        <div class="container justify-content p-5">
            <div class="row">
                <div class=" offset-md-5 col-md-4 offset-lg-5 col-lg-4">
                   <p>Click here to <a href="{% url 'login' %}">Login</a>!!!</p>
                </div>
            </div>
        </div>
        {% endblock content %}